@page
@model EdtechSim.Pages.DiscountProviderModel
@{
}

<div>
    <h4>Choose a discount provider</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.ImageUrl)
        </dd>
        <form method="post" asp-page-handler="ComputeDiscount">
          <dt class="col-sm-2">
            <select asp-for="DiscountProviderId" asp-items="@Model.ServiceProviderList"></select>
          </dt>
          <dd class="col-sm-10">
                  <input type="submit" class="btn btn-primary" value="Compute Discount" />
          </dd>
        </form>
    </dl>
</div>
